#title {
  background-color: #ff4c68;
}

body {
  font-family: Montserrat;
  margin: 0;
}

h1 {
  font-family: Montserrat-black;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 0rem;
}

h2 {
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 1.5;
}

.cta-text{
  font-family: Montserrat-black;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.navbar {
  padding: 0 0 4.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
  right: 30%;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.navbar-brand {
  font-size: 2.3rem;
}

.nav-item {
  padding: 0 18px font-size: 2.3rem;
}

.nav-link {
  font-family: Montserrat;
}

.Download-button {
  margin: 5% 3% 5% 0
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 2;
}

.feature-box {
  text-align: center;
  padding: 5%
}

h3 {
  font-family: Montserrat-black;
  margin: 5% 3%;
}

p {
  color: grey;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

@media (max-width: 1020px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}

#footer {
  text-align: center;
  padding: 7% 15%;
  background-color: #ffff;
}

.social-icon {
  margin: 20px 10px;
}
